@{
    ViewData["Title"] = "Sensors";
}

@model SensorListViewModel

<h3 class="display-4">Sensors</h3>


<br>
<script>
    $(document).ready(function () {
        $('#data').DataTable();
    });
</script>

<div class="row marginTop">
    <table id="data" class="table table-striped table-bordered" style="width:100%">
        <thead>
            <tr>
                <th>Device Serial Number</th>
                <th>Sensor Serial Number</th>
                <th>Type</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var sensor in Model.Sensors)
            {
                <tr>
                    <td>
                        &nbsp;
                        @*placeholder for devise serial number*@
                        @*@sensor.Device.serialNumber.ToString()*@
                        <a href="@Url.Action("Search", "Device" , new { id = sensor.Device.serialNumber  })">@sensor.Device.serialNumber.ToString()</a>

                    </td>
                    <td>
                        @sensor.sensorSerialNumber.ToString()
                    </td>
                    <td>
                        <a href="@Url.Action("SearchBySensor", "Measurement" , new { id = sensor.sensorSerialNumber  })">Measurements</a>
                    </td>

                </tr>
            }
        </tbody>
    </table>
</div>
