@{
    ViewData["Title"] = "Sensors";
}

@model SensorListViewModel

<h3 class="display-4">Sensors</h3>
<input type="text" />
@Html.ActionLink("Search by Device", "Search", new { id = 12345 }, new { @class = "btn btn-light", @style = "color:black" })

<br>


<div class="row marginTop">
    <table class="table">
        <thead>
            <tr>
                <th>Device Serial Number</th>
                <th>Sensor Serial Number</th>
                <th>&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var sensor in Model.Sensors)
            {
            <tr>
                <td>
                    &nbsp;
                    @*placeholder for devise serial number*@
                </td>
                <td>
                    @sensor.sensorSerialNumber.ToString()
                </td>
                <td>
                    @Html.ActionLink("Measurements", "Measurement", "Search", new {  id = 1 })
                </td>

            </tr>
            }
        </tbody>
    </table>
</div>
