@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">

    @*<img src="~/img/conditioningDevice.jpg" />*@
    <img height="200" width="300" src="~/img/CoolingGif.gif" />
    <h1 class="display-4">Welcome </h1>
    <h2 class="display-4"><i>to the Smart Conditioning </i></h2>
    <h2 class="display-4">Admin Page</h2>
    @*<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@
    <img height="100" width="100" src="~/img/fan1.gif" />
</div>
