@{
    ViewData["Title"] = "Devices";
}

@model DeviceListViewModel

<h3 class="display-4">Devices</h3>


<div class="row marginTop">

    @foreach (var device in Model.Devices)
    {
    <ul>
        <li>
            @device.DeviceId.ToString();
        </li>
        <li>
            @device.firmWareVersion.ToString();
        </li>
    </ul>
    }

</div>